@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #efb7cd;
  color: #2C2C2A;
  font-size: 18px;
}

*:focus-visible {
  outline: 3px solid #db2777;
  outline-offset: 2px;
}