@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9F9F7;
  color: #2C2C2A;
  font-size: 18px;
}

*:focus-visible {
  outline: 3px solid #185FA5;
  outline-offset: 2px;
}